<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="vue-app">
        <h2>Refs</h2>
        <input type="text" ref="input"/>
        <button v-on:click="readRefs">Submit</button>
        <p>Your fav food:{{output}}</p>
        <div ref="test">Hello</div>
    </div>
    <!--h1>Components</!--h1>
    <div id="vue-app-one">
        <h2>Vue app one</h2>
        <greeting></greeting>
    </div>
    <div id="vue-app-two">
        <h2>Vue app two</h2> 
        <greeting></greeting>
    </div>


    <div id="vue-app-one">
        <h2>{{ title }}</h2>
        <p>{{ greet}}</p> 

    </!--div>
    <div id="vue-app-two">
        <h2>{{ title }}</h2>  
        <p>{{ greet}}</p> 
        <button v-on:click="changeTitle">Change App One Title</button>
    </div>
    <div id="vue-app">

          < <h1>Looping through lists</h1>
        <ul>
            <li v-for="(character,index)  in characters">{{index}}.{{ character}}</li>
        </ul>

        <ul>
            <li v-for="(ninja,index) in ninjas">{{index}}.{{ ninja.name}} - {{ninja.age }}</li>
        </ul>
         <template v-for="(ninja,index) in ninjas">
             <h3> {{index}}.{{ ninja.name}} </h3>
             <p>{{ninja.age }}</p>
         </template>
         <template v-for="ninja in ninjas">
             <div v-for="(val,key) in ninja">
                 <p>{{key}} -{{val}}</p>

             </div>    
         </template-->


        <!--h1>Conditionals</!--h1>
        <button v-on:click="error=!error">Toggle Error</button>
        <button v-on:click="success=!success">Toggle Success</button>
        <p v-if="error">There has been an error</!--p>
        <p v-else-if="success">Whooo, succes :)</p>
        <p v-show="error">There has been an error</p>
        <p v-show="success">Whooo, succes :)</p-->

        <!--h1> Dynamic CSS</!--h1>
        <h2>Example 1</h2>

        <div v-on:click="available=!available" v-bind:class="{available: available}">
            <span>Hey</span>
        </div>
        <h2>Example 2</h2>
        <button v-on:click="nearby=!nearby">Toggle nearby</button>
        <button v-on:click="available=!available">Toggle available</button>
        <div  v-bind:class="compClasses">
            <span>Hey</span>

        </div -->


        <!--h1>computed properties</h1>
        <button v-on:click="a++">Add to A</button>
        <button v-on:click="b++">Add to B</button>
        <p>A-{{a}}</p>
        <p>B-{{b}}</p>
        <p>Age + A={{addToA}}</p>
        <p>Age + B={{addToB}}</p>


        <h1>Keyboard Events</h1>
        <label >Name:</label>
        <input type="text" v-model="name">
        <span>{{name}}</span>
        <label >Age:</label>
        <input type="text" v-model="age">
        <span>{{age}}</span>

        <h1>Events</h1>
        <button v-on:click.once="age++">Add a Year</button>
        <button v-on:click="Subtract(1)">Subtract a Year</button>
        <button v-on:dblclick="add(10)">Add a 10Years</button>
        <button v-on:dblclick="Subtract(10)">Subtract a 10 Years</button>
        <a v-on:click.prevents="click" href="www.thenetninja.co.uk"></a>
        <p>My age is {{age}}</p>
        <div id="canvas" v-on:mousemove="updatexy">
            {{x}},{{Y}}
        </div>

    </div-->
    <script src="app.js"></script>
</body>
</html>